In [20]:
# Import pandas and assign an alias
import pandas as pd

# Import the belize AirBnB listings dataframe and create a new dataframe with the dataset
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path) # New dataframe

# Group the created dataframe by neighborhood
grouped_belize = belize_df.groupby('neighbourhood')

                                        neighborhood
0  0             Belize Islands
1             Bel...

In [24]:
# Find the average price per neighborhood
n_mean = grouped_belize["price"].mean()

# Find the total number of reviews per neighborhood
n_reviews = grouped_belize["number_of_reviews"].count()

# Find the maximum number of days available a year per neighborhood
n_max = grouped_belize["availability_365"].max()

# First merge
prelim_df = pd.merge(n_mean, n_reviews, on = "neighbourhood")

# Second, and final, merge
final_df = pd.merge(prelim_df, n_max, on = "neighbourhood")

# Testing purposes
final_df.head()

                      price  number_of_reviews  availability_365
neighbourhood
Belize Islands   399.442824               1303               365
Belize Mainland  288.273063                271               365
Cayo             205.847525                505               365
Corozal          156.553846                 65               365
Orange Walk      122.035714                 28               365